* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

*:focus {
	outline: none;
}

a {
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #fff;
    width: 100%;
    text-align: center;
}

.copyright {
    font-size: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 36.84px;
    width: 80px;
}

.search-btn {
    height: 36.84px;
}

.search-form {
    display: flex;
    margin-left: 5px;
}

.login {
    background-image: url(../images/login.jpg);
    height: 100vh;
    background-size: cover;
}

.welcome {
    text-align: center;
    padding-top: 80px;
    margin-top: 0;
}

.account {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #aaa;
    margin-top: 100px;
    padding: 20px 40px;
}

.account h2 {
    margin-top: 10px;
    text-align: center;
}

.account .btn {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}




