{% extends 'base.html' %}

{%block content%}
<div class="container">
  <div style="margin-bottom: 10px;" class="clearfix">
    <a class="btn btn-success" href="/depart/add/" target="_blank">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Create New Department
    </a>
    <div style="float: right; width: 200px">
      <form method="get">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search for..." value="{{ search_data}}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      Department List
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in queryset %}
        <tr uid="{{ obj.id }}">
          <th>{{ obj.id}}</th>
          <td>{{ obj.title}}</td>
          <td>
            <a class="btn btn-primary btn-xs" href="/depart/{{ obj.id }}/edit/" target="_blank">Edit</a>
            <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="Delete">
          </td>
        </tr>
        <tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

      <!-- Modal from Bootstrap-->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4>Are you sure you want to perform this action?</h4>
            <p style="text-align: right;">
              <button type="button" class="btn btn-danger btnConfirmDelete"> Confirm </button>
              <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
            </p>
          </div>
        </div>
      </div>
    
        <ul class="pagination">
          {{ page_string }}
        </ul>
    </div>
    {% endblock %}
    
    {% block js %}
    <script type="text/javascript">
      var DELETE_ID
      $(function() {
        bindBtnDeleteEvent();
        bindBtnConfirmDeleteEvent();
      })
    
      function bindBtnDeleteEvent() {
        $('.btn-delete').click(function() {
          $('#myModal').modal('show');
    
          DELETE_ID = $(this).attr('uid');
        });
      }
    
      function bindBtnConfirmDeleteEvent() {
        $('.btnConfirmDelete').click(function() {
          $.ajax({
            url: '/admin/' + DELETE_ID + '/delete/',
            type: 'GET',
            dataType: 'JSON',
            success: function (res) {
              if (res.status) {
                $('#myModal').modal('hide');
                $("tr[uid='"+DELETE_ID+"']").remove();
                DELETE_ID = 0;
              }else{
                alert(res.error);
              }
            }
          })
        });
      }
    </script>
    {% endblock %}






    
    
