{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 10px;">
      <a class="btn btn-success" href="/employee/add/" target="_blank">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Add New Employee
      </a>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        Employee List
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Age</th>
            <th>Balance</th>
            <th>Hire Date</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
            <th>{{ obj.id }}</th>
            <td>{{ obj.name }}</td>
            <td>{{ obj.password }}</td>
            <td>{{ obj.age }}</td>
            <td>{{ obj.account }}</td>
            <td>{{ obj.create_time|date:'Y-m-d' }}</td>
            <td>{{ obj.get_gender_display }}</td>
            <td>{{ obj.depart.title }}</td>
            <td>
              <a class="btn btn-primary btn-xs" href="/employee/{{ obj.id }}/edit/" target="_blank">Edit</a>
              <a class="btn btn-danger btn-xs" href="/employee/{{ obj.id }}/delete/">Delete</a>
            </td>
          </tr>
          <tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}