{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">New Employee</h3>
      </div>
      <div class="panel-body">
          <form method="post" novalidate>
              {% csrf_token %}

              {% for field in form %}
              <div class="form-group">
                <label>{{field.label}}</label>
                {{field}}
                <span style="color: red;">{{field.errors}}</span>
              </div>
              {% endfor %}
              
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script>
  $(function() {
    $('#id_create_time').datepicker({
      format: 'yyyy-mm-dd',
      startDate: '0',
      language: 'en-us',
      autoclose: true
    });
  })
</script>
{% endblock %}