{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The employment system provides a platform to manage employees">
    <meta name="keywords"
    content="employment system, employees' information, platform">
    <meta name="author" content="Bin Ma">
    <!-- favicon -->
    <link rel="icon" type="image/xicon" href="{% static 'favicon/department.ico' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <title>Login</title>

</head>
<body>
    <div class="login">
        <h2 class="welcome">Welcome to Employment System</h2>
        <div class="container-fluid">
            <div class="account">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Login</h2>
                    </div>
                </div>  
                <form method="post" novalidate>
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label>Username: </label>
                                {{ form.username }}
                                <span style="color: red;">{{ form.username.errors.0}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 ">
                            <div class="form-gropu">
                                <label>Password: </label>
                                {{ form.password }}
                                <span style="color: red;">{{ form.password.errors.0}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="btn">
                                <button class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="copyright">
            © 2023 Copyright: Employment Management System
        </div>
    </footer>
</body>
</html>